.app {
  background-image: url('images/background.png');
  color: blanchedalmond;
  font-family: Courier New , Courier , monospace;
  font-size: xx-large;
  margin: -2%;
  padding: 50px;
  text-align: center;
}

.h2-planet {
  border-radius: 50px;
  border-style: solid;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 95%;
}

.divSolarSystem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardPlanet {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 150px;
}

.imgPlanet {
  width: 100px;
}

.divMissions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.missonCard {
  border: rgb(199, 158, 158) solid 2px;
  border-radius: 50px;
  display: flex;
  flex-basis: 10em;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.missonCard .name {
  border-bottom: 2px solid white;
  text-align: center;
}

.missonCard p {
  font-size: x-large;
  text-align: left;
}
